<strong>Trang chủ</strong>
<p>a1: <%=a1%></p>
<p>a1: <%=a2%></p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, culpa quae. Est laboriosam ullam minus
  temporibus! Quibusdam non ut dolorem libero perspiciatis quis delectus earum eligendi veniam, cum quaerat architecto.
</p>
