<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang web con cọp</title>
</head>

<body>
  <header style="border: 1px solid black;">HEADER (<%=app_name%>)</header>
  <%-body%>
  <footer style="border: 1px solid black;">FOOTER</footer>
</body>

</html>
