<h1>Danh sách sinh viên</h1>
    <a href="add.html" class="btn btn-info">Add</a>
    <form action="list.html" method="GET">
      <label class="form-inline justify-content-end">Tìm kiếm: <input type="search" name="search" class="form-control"
          value="">
        <button class="btn btn-danger">Tìm</button>
      </label>
    </form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Mã SV</th>
          <th>Tên</th>
          <th>Ngày Sinh</th>
          <th>Giới Tính</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>Nguyễn Thị Bé Bảy</td>
          <td>09/03/2000</td>
          <td>nữ</td>
          <td><a href="edit.html">Sửa</a></td>
          <td><a data="1" class="delete" href="list.html" type="student">Xóa</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>2</td>
          <td>Nguyễn Văn Tèo</td>
          <td>15/03/1995</td>
          <td>nam</td>
          <td><a href="edit.html">Sửa</a></td>
          <td><a data="2" class="delete" href="list.html" type="student">Xóa</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>3</td>
          <td>Cao Thị Mẫn</td>
          <td>16/03/1990</td>
          <td>khác</td>
          <td><a href="edit.html">Sửa</a></td>
          <td><a data="3" class="delete" href="list.html" type="student">Xóa</a></td>
        </tr>
      </tbody>
    </table>
    <div>
      <span>Số lượng: 3</span>
    </div>
